.navbar-custom {
    background-color: #145c50;
  }

body {
  font-family: 'Poppins', sans-serif; /* Aplicando a fonte Poppins em todo o site */
}
  
.carousel-image {
  height: 80vh; /* Ajuste a altura conforme necessário */
  object-fit: cover; /* Ajusta a imagem para cobrir toda a área, cortando partes, se necessário */
  filter: brightness(50%); /* Adiciona o efeito de escurecimento com transparência */
}

.custom-title {
  position: relative;
  display: inline-block; /* Faz com que a linha tenha a largura do texto */
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px; /* Espaço entre o texto e a linha */
  margin: 70px 0 30px 30px; /* Espaço antes e depois do título */
}

.custom-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #145c50; /* Cor da linha */
}

.produtos-container {
  max-width: 80vw; /* Faz o container dos produtos ocupar até 80% da largura da viewport */
  margin: 0 auto;  /* Centraliza o container horizontalmente */
  justify-content: center; /* Centraliza os cards na linha */
}

.produtos-row {
  display: flex;
  flex-wrap: wrap; /* Garante que os cards quebrem para a linha seguinte se necessário */
  justify-content: center; /* Centraliza os cards na linha */
}

.col-4 {
  padding-left: 100px; /* Ajuste o padding conforme necessário */
  padding-right: 100px; /* Ajuste o padding conforme necessário */
}

.custom-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 50%; /* Faz o card ocupar toda a largura disponível da coluna */
  height: auto; /* Ajusta a altura automaticamente para o conteúdo */
  margin-bottom: 15px; /* Ajuste o valor conforme necessário */
}

.custom-card img {
  width: 100%;
  height: 50%; /* Ajusta a altura da imagem para preencher metade do card */
  object-fit: cover; /* Garante que a imagem se ajuste corretamente ao espaço disponível */
  padding: 10px; /* Ajuste o padding conforme necessário */
  box-sizing: border-box; /* Inclui o padding no cálculo da largura e altura total da imagem */
}

.custom-card .card-body {
  height: auto; /* Ajusta o corpo do card para se ajustar ao conteúdo */
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-body .btn {
  margin-top: auto; /* Empurra o botão para o fundo do card-body */
  align-self: center; /* Centraliza o botão horizontalmente */
}

.custom-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.custom-card .card-text {
  font-size: 0.875rem;
  color: #555;
}

.custom-card .btn-primary {
  background-color: #007bff;
  border: none;
}

.custom-card .btn-primary:hover {
  background-color: #0056b3;
  color: #fff;
}

@media (max-width: 992px) {
  .col-4 {
    flex: 0 0 50%; /* Faz cada coluna ocupar 50% da largura da linha em telas médias */
    max-width: 50%;
  }
}

  .custom-card {
    width: 100%; /* Faz o card ocupar toda a largura disponível da coluna */
    height: auto; /* Ajusta a altura automaticamente para o conteúdo */
  }


/* Estilo para o container da empresa */
.company-container {
  max-width: 90vw; /* Mantém o container da empresa ocupando até 90% da largura da viewport */
}

/* Ajuste o espaçamento entre as colunas dos cards */
.company-row {
  margin-left: 200px; /* Remove o espaçamento à esquerda das colunas */
  margin-right: 200px; /* Remove o espaçamento à direita das colunas */
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Garante que os cards quebrem para a linha seguinte se necessário */
}

.mapa {
  width: 100%;
  height: 30vh; /* Ajusta a altura do mapa para ocupar 30% da altura da viewport */
  overflow: hidden;
}

.mapa iframe {
  width: 100%;
  height: 100%; /* Faz o iframe ocupar toda a altura do contêiner pai */
  border: 0;
}

.img-faixada {
  width: 100%;
  height: auto;
  max-width: 60vw; /* Define uma largura máxima para a imagem em relação à viewport */
}








#footer {
  background: #e1bd00;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #145c50;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
  color: #e1bd00;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
}

#footer .footer-top .footer-contact i {
  font-size: 18px;
  margin-right: 10px;
  color: #e1bd00;
}

.social-links {
  display: flex;
  gap: 10px; /* Espaço entre os ícones */
}

.social-icon {
  font-size: 50px; /* Tamanho dos ícones */
  line-height: 1; /* Reduz o espaço ao redor do ícone */
  color: #e1bd00; /* Cor dos ícones */
  display: inline-block;
  padding: 0px; /* Espaçamento interno */
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
  text-align: center;
  text-decoration: none; /* Remove sublinhado */
}


.copyright {
  text-align: center;
  padding: 10px;
}

  
